.image-why-ipad-apps-everyday {
    background-image: url("../images/why-ipad/apps_everyday__853pd0lszs2i_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .image-why-ipad-apps-everyday {
        background-image:url("../images/why-ipad/apps_everyday__853pd0lszs2i_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-apps-everyday {
        background-image: url("../images/why-ipad/apps_everyday__853pd0lszs2i_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-apps-everyday {
        background-image:url("../images/why-ipad/apps_everyday__853pd0lszs2i_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-apps-everyday {
        background-image: url("../images/why-ipad/apps_everyday__853pd0lszs2i_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-apps-everyday {
        background-image:url("../images/why-ipad/apps_everyday__853pd0lszs2i_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_everyday__853pd0lszs2i_small_2x.jpg*/)
    }
}
.image-why-ipad-apps-whatever {
    background-image: url("../images/why-ipad/apps_whatever__ghh90r27iq2q_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .image-why-ipad-apps-whatever {
        background-image:url("../images/why-ipad/apps_whatever__ghh90r27iq2q_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-apps-whatever {
        background-image: url("../images/why-ipad/apps_whatever__ghh90r27iq2q_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-apps-whatever {
        background-image:url("../images/why-ipad/apps_whatever__ghh90r27iq2q_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-apps-whatever {
        background-image: url("../images/why-ipad/apps_whatever__ghh90r27iq2q_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-apps-whatever {
        background-image:url("../images/why-ipad/apps_whatever__ghh90r27iq2q_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/apps_whatever__ghh90r27iq2q_small_2x.jpg*/)
    }
}
.image-why-ipad-icloud-important {
    background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-icloud-important {
        background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-icloud-important {
        background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and(min-resolution: 144dpi) {
    .image-why-ipad-icloud-important {
        background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-icloud-important {
        background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-icloud-important {
        background-image: url("../images/why-ipad/icloud_important__fihhri46vfiy_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/icloud_important__fihhri46vfiy_small_2x.jpg*/)
    }
}
.image-why-ipad-multitouch-phone {
    background-image: url("../images/why-ipad/multitouch_phone__kykunacaj3m2_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .image-why-ipad-multitouch-phone {
        background-image:url("../images/why-ipad/multitouch_phone__kykunacaj3m2_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-multitouch-phone {
        background-image: url("../images/why-ipad/multitouch_phone__kykunacaj3m2_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-multitouch-phone {
        background-image:url("../images/why-ipad/multitouch_phone__kykunacaj3m2_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-multitouch-phone {
        background-image: url("../images/why-ipad/multitouch_phone__kykunacaj3m2_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-multitouch-phone {
        background-image:url("../images/why-ipad/multitouch_phone__kykunacaj3m2_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/multitouch_phone__kykunacaj3m2_small_2x.jpg*/)
    }
}
.image-why-ipad-power-chip {
    background-image: url("../images/why-ipad/power_chip__egwcflx1fca6_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .image-why-ipad-power-chip {
        background-image:url("../images/why-ipad/power_chip__egwcflx1fca6_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-power-chip {
        background-image: url("../images/why-ipad/power_chip__egwcflx1fca6_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-power-chip {
        background-image:url("../images/why-ipad/power_chip__egwcflx1fca6_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-power-chip {
        background-image: url("../images/why-ipad/power_chip__egwcflx1fca6_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-power-chip {
        background-image:url("../images/why-ipad/power_chip__egwcflx1fca6_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_chip__egwcflx1fca6_small_2x.jpg*/)
    }
}
.image-why-ipad-updates-updates {
    background-image: url("../images/why-ipad/updates_updates__025bvmozsn6y_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .image-why-ipad-updates-updates {
        background-image:url("../images/why-ipad/updates_updates__025bvmozsn6y_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-updates-updates {
        background-image: url("../images/why-ipad/updates_updates__025bvmozsn6y_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-updates-updates {
        background-image:url("../images/why-ipad/updates_updates__025bvmozsn6y_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-updates-updates {
        background-image: url("../images/why-ipad/updates_updates__025bvmozsn6y_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and (min-resolution: 144dpi) {
    .image-why-ipad-updates-updates {
        background-image:url("../images/why-ipad/updates_updates__025bvmozsn6y_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/updates_updates__025bvmozsn6y_small_2x.jpg*/)
    }
}
.image-why-ipad-versatile-keyboard {
    background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-versatile-keyboard {
        background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-versatile-keyboard {
        background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and(min-resolution: 144dpi) {
    .image-why-ipad-versatile-keyboard {
        background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 734px) {
    .image-why-ipad-versatile-keyboard {
        background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_small.jpg*/)
    }
}

@media only screen and (max-width: 734px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 734px) and (min-resolution: 1.5dppx), only screen and (max-width: 734px) and(min-resolution: 144dpi) {
    .image-why-ipad-versatile-keyboard {
        background-image: url("../images/why-ipad/versatile_keyboard__dxoackf5aoya_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_keyboard__dxoackf5aoya_small_2x.jpg*/)
    }
}

.image-why-ipad-power-travel {
    background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-power-travel {
        background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-power-travel {
        background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-power-travel {
        background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-power-travel {
        background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-power-travel {
        background-image: url("../images/why-ipad/power_travel__c7o3ggoqymc2_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/power_travel__c7o3ggoqymc2_small_2x.jpg*/)
    }
}
.image-why-ipad-shared-multitouch {
    background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-shared-multitouch {
        background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-shared-multitouch {
        background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-multitouch {
        background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-shared-multitouch {
        background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-multitouch {
        background-image: url("../images/why-ipad/shared_multitouch__ee3xu0isoeeu_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_multitouch__ee3xu0isoeeu_small_2x.jpg*/)
    }
}
.image-why-ipad-versatile-notepad {
    background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-versatile-notepad {
        background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-versatile-notepad {
        background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-versatile-notepad {
        background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-versatile-notepad {
        background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-versatile-notepad {
        background-image: url("../images/why-ipad/versatile_notepad__dev9u3mjwkuq_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/versatile_notepad__dev9u3mjwkuq_small_2x.jpg*/)
    }
}
.image-why-ipad-shared-icloud {
    background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-shared-icloud {
        background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-shared-icloud {
        background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-icloud {
        background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-shared-icloud {
        background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-icloud {
        background-image: url("../images/why-ipad/shared_icloud__f5ku2r81lz2i_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_icloud__f5ku2r81lz2i_small_2x.jpg*/)
    }
}
.image-why-ipad-privacy-privacy {
    background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-privacy-privacy {
        background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-privacy-privacy {
        background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-privacy-privacy {
        background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-privacy-privacy {
        background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-privacy-privacy {
        background-image: url("../images/why-ipad/privacy_privacy__e4ghra87js4m_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/privacy_privacy__e4ghra87js4m_small_2x.jpg*/)
    }
}
.image-why-ipad-shared-accessibility {
    background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_large.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_large.jpg*/)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx),(-webkit-min-device-pixel-ratio: 1.5),(min-resolution: 144dpi) {
    .image-why-ipad-shared-accessibility {
        background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_large_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_large_2x.jpg*/)
    }
}

@media only screen and (max-width: 1068px) {
    .image-why-ipad-shared-accessibility {
        background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_medium.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_medium.jpg*/)
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-accessibility {
        background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_medium_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_medium_2x.jpg*/)
    }
}

@media only screen and (max-width: 735px) {
    .image-why-ipad-shared-accessibility {
        background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_small.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_small.jpg*/)
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .image-why-ipad-shared-accessibility {
        background-image: url("../images/why-ipad/shared_accessibility__01j32ks893mm_small_2x.jpg"/*tpa=https://www.apple.com.cn/ipad/shared/why-ipad/images/why-ipad/shared_accessibility__01j32ks893mm_small_2x.jpg*/)
    }
}